<div class="row">
    <div class="col-xs-12">
        <h2>Music</h2>
        <div class="box music">
            <div class="col-xs-12 col-sm-4 image ">
                <img src="./img/music/here_they_come.jpg">
            </div>
            <div class="col-xs-12 col-sm-8 info">
                <h3>Here They Come</h3>
                <span class="release-info">Published on: <strong>11. October 2015.</strong></span>
                <span class="release-info">Release type: <strong>single</strong></span>
                <h4>Listen<i class="fa fa-play-circle"></i></h4>
                <a class="btn btn-bitzer">YouTube (music video)</a>
                <a class="btn btn-bitzer">Soundcloud</a>
                <h4>Download<i class="fa fa-download"></i></h4>
                <a href="#" class="btn btn-bitzer">MP3</a>
                <a href="#" class="btn btn-bitzer">OGG</a>
                <a href="#" class="btn btn-bitzer">WAV</a>
            </div>
        </div>
    </div>
</div>
