/* _fonts.scss */

html {
    &, body {
        font-family: 'Montserrat', sans-serif;
    }
}

* {
    font-size: 1rem;
    line-height: 1.5em;
}

p {
    margin: 0 0 0 0;
    color: $gray-color;
    font-size: 1rem;
    line-height: 1.5rem;
}

a, a:link, a:visited, a:focus {
    color: $gray-color;
    text-decoration: none;
    transition: $transition-mid;
}

a:hover, a:active {
    color: $white-color;
    text-decoration: none;
    transition: $transition-fast;
}

a.link {
    border-bottom: 1px solid $white-color;
}

h2, h3, h4 {
    margin: 0;
    padding: 0;
    color: $white-color;
}

h2 {
    margin: 1.5rem 0;
    font-size: 2rem;
    line-height: 3rem;
    text-transform: capitalize;
}

h3 {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-transform: uppercase;

    &.inside {
        margin: 1.5rem 0 0.75rem 0;
    }
}

h4 {
    margin: 1.5rem 0 0.75rem 0;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
        display: inline-block;
    }
}


/**
 * Navigation links
 */
nav {
    li {
        a {
            font-size: 1.5rem;
            line-height: 1.5rem;

            text-transform: uppercase;
            letter-spacing: 2px;
            border-bottom: 0.25rem solid transparent;

            transition: $transition-mid;

            &:hover, &:active {
                color: $white-color;
                border-bottom-color: $white-color;

                transition: $transition-fast;
            }
        }
    }
}



/**
 * Social media
 */
.social-media {
    a {
        margin: 0 0.25rem;
        color: $gray-color;

        font-size: 1.5rem;
        line-height: 1.5rem;

        transition: $transition-mid;

        &:hover {
            color: $white-color;
            transition: $transition-mid;
        }
    }
}



/**
 * Buttons
 */
.btn {
    margin: 0.75rem 0;
    padding: 0 1rem;
    border: 1px solid transparent;
    border-radius: 0;
    font-size: 0.875rem;
    line-height: 2rem;
    color: $gray-color;
    transition: $transition-mid;

    &:hover, &:active, &:focus {
        color: $white-color;
        transition: $transition-fast;
    }
}

.btn-bitzer {
    margin: 0.75rem 0.25rem;
    color: $white-color;
    border-color: $gray-color;

    &:hover, &:active, &:focus {
        color: $white-color;
        border-color: $white-color;
    }
}

.btn-block {
    margin: 0.75rem 0;
    max-width: 300px;
}
