/* _globals.scss */


/* Transitions */
$transition-mid: all 0.5s ease;
$transition-fast: all 0.2s ease;


/* Colors */
$white-color: #fff;
$gray-color: #e2e2e2;
$brand-color: #0c1728;


/* Helper classes */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0
}


/* Elements */
img {
    display: block;
    max-width: 100%;
    width: 100%;
}
