/* _responsive.scss */

html {
    &, body {
        font-size: 18px;
    }
}

body {
    header {
        min-height: 600px;
    }
}

.xs-big {
    font-size: inherit;
    line-height: inherit;
}


/**
 * Tablets (800 - 1023)
 */
@media (max-width: 1023px) {
    html {
        &, body {
            font-size: 16px;
        }
    }

    body {
        header {
            min-height: 480px;

            .image {
                max-width: 75vw;
            }
        }
    }
}


/**
 * Smartphones (0 - 767)
 */
@media (max-width: 767px) {
    html {
        &, body {
            font-size: 15px;
        }

        min-height: 320px;
    }

    body {
        #loader {
            .image {
                max-width: 50vw;
            }
        }
    }

    .social-media {
        a {
            font-size: 2rem;
            line-height: 2rem;
        }
    }

    .xs-big {
        font-size: 2rem;
        line-height: 2rem;
    }

    .box.music {
        .info {
            padding: 1.5rem 0 0 0;
        }
    }
}
